#dynamic{
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index:2 ;
	display: none;
}

body{
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.background-canvas{
	position: fixed;
	z-index: -2;
	top: 0;
	left: 0;
	height: 100vh;
	width:100vw;
}

.navbar{
	position: relative;
	z-index: 10;
}

.visualiser{
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	height: 20vh;
	width:50vw;
	background: ;
}


.col-centered{
margin: 0 auto;
float: none;
}

.media-player{
	height: 100%;
	width:100%;
	position: absolute;
	
}

.navbar-inverse{
	background-color: #141311;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.navbar-header {
  float: none;
}
.navbar-toggle {
  display: block;
}
.navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-collapse.collapse {
  display: none!important;
}
.navbar-nav {
  float: none!important;
  margin: 7.5px -15px;
}
.navbar-nav>li {
  float: none;
}
.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-brand, .navbar-toggle{
	font-size: 1.5em;
    margin-left: 3em !important;
    border: 4px white solid;
    position: relative;
    color: white;
    top: 1em !important;
    z-index: 3 !important;
}

.playlist{
	background-color: black;
	opacity: 0.9;
	position: relative;
	top: 3vh;
	max-height: 60vh;	
	overflow: hidden;
	margin-bottom: 50vh !important; 
}


.current-track-image{
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 60vh;
	position: relative;
	top: 3vh;
	background-color:;
	opacity: 0.7;
	-webkit-filter: blur(1.5px);
  		-moz-filter: blur(1.5px);
  			-o-filter: blur(1.5px);
  				-ms-filter: blur(1.5px);
  					filter: blur(1.5px);

  	-webkit-transition: all .25s cubic-bezier(0.25,0.5,0.75,0.25);
  	   -moz-transition: all .25s cubic-bezier(0.25,0.5,0.75,0.25);
  	    -ms-transition: all .25s cubic-bezier(0.25,0.5,0.75,0.25);
  	     -o-transition: all .25s cubic-bezier(0.25,0.5,0.75,0.25);
  	        transition: all .25s cubic-bezier(0.25,0.5,0.75,0.25);
}

#gallery{
	font-size: 2em;
	position: fixed;
	top: 1.2em;
	right: 7em;
	z-index: 50;
}

.temp{
	height: 100%;
	width: 0;
	position:absolute;
	top: 0;
	left:0;
	z-index: -5;
	background-color: white;
	
}

.navbar-brand:hover{
	color:black !important;
}

.navbar-brand:hover .temp{
	width: 100%;
	height: 100%;
	-webkit-transition: all .25s cubic-bezier(0.25,0.5,0.75,0.25);
  	   -moz-transition: all .25s cubic-bezier(0.25,0.5,0.75,0.25);
  	    -ms-transition: all .25s cubic-bezier(0.25,0.5,0.75,0.25);
  	     -o-transition: all .25s cubic-bezier(0.25,0.5,0.75,0.25);
  	        transition: all .25s cubic-bezier(0.25,0.5,0.75,0.25);
}


.modal-content, #myModal{

	-webkit-transition: all .25s cubic-bezier(0.25,0.5,0.75,0.25);
  	   -moz-transition: all .25s cubic-bezier(0.25,0.5,0.75,0.25);
  	    -ms-transition: all .25s cubic-bezier(0.25,0.5,0.75,0.25);
  	     -o-transition: all .25s cubic-bezier(0.25,0.5,0.75,0.25);
  	        transition: all .25s cubic-bezier(0.25,0.5,0.75,0.25);
}

.modal-content{
	border-radius: 0 !important;
	top:20vh;
}

.modal-header{
	background-image: url("../images/pattern-2.png");
	background-color: #151515;
	color: white !important;
	font-weight: bold !important;
	font-size: 1.3em !important ;
}


.modal-footer{
	background-image: url("../images/pattern-2.png");
	background-color: brown;
	color: white !important;
	font-weight: bold !important;
	font-size: 1.3em !important ;
	height: 8vh;
	position: relative;
}

.modal-body{
	height: 40vh;
}

white{
	color: white;
}